<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ThreePages1</display-name>
   <welcome-file-list>
    <welcome-file>personalinfo.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>personalinfo</servlet-name>
    <servlet-class>main.java.com.source.servlet.personalinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personalinfo</servlet-name>
    <url-pattern>/personalinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contactinfo</servlet-name>
    <servlet-class>main.java.com.source.servlet.contactinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactinfo</servlet-name>
    <url-pattern>/contactinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bankinfo</servlet-name>
    <servlet-class>main.java.com.source.servlet.bankinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bankinfo</servlet-name>
    <url-pattern>/bankinfo</url-pattern>
  </servlet-mapping>
 
</web-app>